<% if (personalErrorMessages.length > 0) { %>
	<% let nameErrors = personalErrorMessages[0] %>
	<% let surnameErrors = personalErrorMessages[1] %>
	<% let emailErrors = personalErrorMessages[2] %>
	<label><b>Name</b></label>
	<input type="text" name="name" id="name" placeholder="Name">
	<div class="errorMsg">
		<% if (nameErrors.fieldLength !== '') { %>
			<%=nameErrors.fieldLength %>
		<% } %>
		<% if (nameErrors.casing !== '') { %>
			<%=nameErrors.casing %>
		<% } %>
	</div>

	<label><b>Surname</b></label><br>
	<input type="text" name="surname" id="surname" placeholder="Surname">
	<div class="errorMsg">
		<% if (surnameErrors.fieldLength !== '') { %>
			<%=surnameErrors.fieldLength %>
		<% } %>
		<% if (surnameErrors.casing !== '') { %>
			<%=surnameErrors.casing %>
		<% } %>
	</div>

	<label><b>Gender</b></label><br>
		<input type="radio" name="gender" id="female" value="female" checked><label>Female</label><br>	
		<input type="radio" name="gender" id="male" value="male"><label>Male</label><br>
	<br>

	<label><b>Email</b></label>
	<input type="email" name="email" id="email" placeholder="Email">
	<div class="errorMsg">
		<% if (emailErrors.fieldLength !== '') { %>
			<%=emailErrors.fieldLength %>
		<% } %>
		<% if (emailErrors.casing !== '') { %>
			<%=emailErrors.casing %>
		<% } %>
		<% if (emailErrors.dbErrors !== '') { %>
			<%=emailErrors.dbErrors %>
		<% } %>
	</div>
<% } else if (errorMessages.length === 0) { %>
	<label><b>Name</b></label>
	<input type="text" name="name" id="name" placeholder="Name" value="<%= userData[0].name %>">
	<label><b>Surname</b></label><br>
	<input type="text" name="surname" id="surname" placeholder="Surname" value="<%= userData[0].surname %>">
	<label><b>Gender</b></label><br>
	<% if (userData[0].gender === 'female') { %>
		<input type="radio" name="gender" id="female" value="female" checked><label>Female</label><br>	
	<% } else { %>
		<input type="radio" name="gender" id="female" value="female"><label>Female</label><br>
	<% } %>
	<% if (userData[0].gender === 'male') { %>
		<input type="radio" name="gender" id="male" value="male" checked><label>Male</label><br>
	<% } else { %>
		<input type="radio" name="gender" id="male" value="male"><label>Male</label><br>
	<% } %>
	<br>
	<label><b>Email</b></label>
	<input type="email" name="email" id="email" placeholder="Email" value="<%= userData[0].email %>">
<% } %>