<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
		<title><%= title %></title>
	<style>
		.dropbtn {
		  background-color: purple;
		  color: white;
		  padding: 10px;
		  font-size: 16px;
		  border: none;
		  /* border-radius: 50%; */
		  cursor: pointer;
		}
		
		.dropbtn:hover, .dropbtn:focus {
		  background-color: plum;
		}
		
		.dropdown {
		  margin: 20px;
		  position: relative;
		  display: inline-block;
		}
		
		.dropdown-content {
			display: block;
			position: absolute;
			right: 0;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}
		
		.dropdown-content button {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		
		.dropdown a:hover {background-color: #ddd;}
		.show {display: block;}
	</style>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<!-- <h3>Talk to faces</h3> -->
	<div class="container-left">
		<h2>This is where contact list is</h2>
		<div class="">
			<% connectedUser.forEach(function(user) { %>
				<a class="tablinks" onclick="openChat(event, '<%=user %>')"><%=user %></a>
				<% }); %>
			
			<a class="tablinks" onclick="openChat(event, 'user2')">User 2</a>
			<a class="tablinks" onclick="openChat(event, 'user3')">User 3</a>
			<!-- <a class="tablinks" onclick="openChat(event, 'user4')"href="#">User 4</a> -->
		</div>
	</div>

	<!-- ///////////////////// -->
	<div class="container-right">
<!-- ///////////////// -->

	<%- include('partials/chats/chat_box') -%>
		<div id="user2" class="tabcontent" style="display: none;">
			<div class="userProfile">
				<img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
				<h2>Whom Your Face is chatting to</h2>
			</div>
			<div class="chatContainer">
				<img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
				<p>Hello. How are you today?</p>
				<span class="time-right">11:00</span>
			</div>
			
			<div class="chatContainer darker">
				<img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
				<p>Hey! I'm fine. Thanks for asking!</p>
				<span class="time-left">11:01</span>
			</div>
			
			<div class="chatContainer">
				<img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
				<p>Sweet! So, what do you wanna do today?</p>
				<span class="time-right">11:02</span>
			</div>
			
			<div class="chatContainer darker">
				<img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div>
		</div>
	</div>
	<script src="/scripts/chatMsg.js"></script>
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		// function myFunction() {
		//   document.getElementById("myDropdown").classList.toggle("show");
		// }
		
		// Close the dropdown if the user clicks outside of it
		// window.onclick = function(event) {
		//   if (!event.target.matches('.dropbtn')) {
			// var dropdowns = document.getElementsByClassName("dropdown-content");
			// var i;
			// for (i = 0; i < dropdowns.length; i++) {
			//   var openDropdown = dropdowns[i];
			//   if (openDropdown.classList.contains('show')) {
			// 	openDropdown.classList.remove('show');
			//   }
			// }
		//   }
		// }
		</script>
</body>
</html>