<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.dropbtn {
		  background-color: purple;
		  color: white;
		  padding: 16px;
		  font-size: 16px;
		  border: none;
		  border-radius: 50%;
		  cursor: pointer;
		}
		
		.dropbtn:hover, .dropbtn:focus {
		  background-color: plum;
		}
		
		.dropdown {
		  margin: 20px;
		  position: relative;
		  display: inline-block;
		}
		
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 200px;
		  overflow: auto;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}
		
		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		
		.dropdown a:hover {background-color: #ddd;}
		.dropdown .badge {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background-color: red;
	color: white;
  }
		
		.show {display: block;}
		</style>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<%- include('partials/all_pages/navbar', {
	loginStatus : loginStatus
}) -%>
<body>
	  <div class="dropdown">
		<button onclick="myFunction()" class="dropbtn"><i class="fa fa-bell"></i></button>
		<span class="badge"><%=viewedBy.length %></span>
		<div id="myDropdown" class="dropdown-content">
			<% let i = 0; %>
			<% while (i < viewedBy.length) { %>
				<a href="#"><%=viewedBy[i] %> viewed your profile</a>
				<% i++; %>
			<% } %>
		</div>
	  </div>


	<div class="container, center" style="background-color: rgb(255, 20, 147, 0.9); width:50%;">
		<% if (gender === 'female') { %>
			<img src="/images/profile.jpg" alt="Your face" style="height:200px">
		<% } else { %>
			<img src="/images/male.jpg" alt="Your face" style="height:200px">
		<% } %>
	<div class="container">
		<h2><%= name %> <%= surname %>, <%= age %> , <%= gender %></h2>
		<h3>My rating: <%=rating %></h3>
		<p>Lives in <%= city %></p>
		<p><%= biography %></p>
		<p>Looking for
		<% if ((gender === 'female') && (sexualOrientation === 'straight')) { %>
		 males
		<% } else if ((gender === 'female') && (sexualOrientation === 'lesbian')) { %>
			females
		<% } else if ((gender === 'male') && (sexualOrientation === 'straight')) { %>
			females
		<% } else if ((gender === 'male') && (sexualOrientation === 'gay')) { %>
			males
		<% } else {%>
			females or males
		<% } %>
		 from <%= agePreference %></p>
		<p>Interested in 
			<%= priorityArray[0].interest1 %>, 
			<%= priorityArray[0].interest2 %>, 
			<%= priorityArray[0].interest3 %>, 
			<%= priorityArray[0].interest4 %></p>
	</div>
</div>
<script>
	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	  document.getElementById("myDropdown").classList.toggle("show");
	}
	
	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
		var dropdowns = document.getElementsByClassName("dropdown-content");
		var i;
		for (i = 0; i < dropdowns.length; i++) {
		  var openDropdown = dropdowns[i];
		  if (openDropdown.classList.contains('show')) {
			openDropdown.classList.remove('show');
		  }
		}
	  }
	}
	</script>
</body>
</html>