<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<%- include('partials/all_pages/navbar', {
	loginStatus : loginStatus
}) -%>
<body>
	<div class="container, center" style="background-color: rgb(255, 20, 147, 0.9); width:50%;">
	<img src="/w3images/team1.jpg" alt="Your face" style="width:100%">
	<div class="container">
		<h2><%= name %> <%= surname %>, <%= age %> , <%= gender %></h2>
		<p>Lives in <%= city %></p>
		<p><%= biography %></p>
		<p>Looking for
		<% if ((gender === 'female') && (sexualOrientation === 'straight')) { %>
		 males
		<% } else if ((gender === 'female') && (sexualOrientation === 'lesbian')) { %>
			females
		<% } else if ((gender === 'male') && (sexualOrientation === 'straight')) { %>
			females
		<% } else if ((gender === 'male') && (sexualOrientation === 'gay')) { %>
			males
		<% } else {%>
			females or males
		<% } %>
		 from <%= agePreference %></p>
		<p>Interested in 
			<%= priorityArray[0].interest1 %>, 
			<%= priorityArray[0].interest2 %>, 
			<%= priorityArray[0].interest3 %>, 
			<%= priorityArray[0].interest4 %></p>
	</div>
</div>
</body>
</html>