<% if (otherUsersData.length != 0) { %>
	<% let i = 1 %>
	<div class="column">
		<div class="card">
			<% otherUsersData.forEach(function(data) { %>
				<% if (data.gender === 'female') { %>
					<img src="/images/female/0<%=i %>.jpg" alt="Your face" style="height: 200px;">
				<% } else { %>
					<img src="/images/male/0<%=i %>.jpg" alt="Your face" style="height: 200px;">
				<% } %>
			<div class="container">
				<h2>@<%= data.username %></h2>
				<h3>Rating: <%=data.rating %></h3>
				<form action="/users/viewed?user=<%=userData.username%>&view=<%=data.username %>" method="POST">
					<input type="submit" value="View Profile">
				</form>
				<p><%= data.biography %></p>
				<p> I am <%= data.sexualOrientation %> and looking for 
				<% if ((data.gender === 'female') && (data.sexualOrientation === 'straight')) { %>
					males
				<% } else if ((data.gender === 'female') && (data.sexualOrientation === 'lesbian')) { %>
					females
				<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'straight')) { %>
					females
				<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'gay')) { %>
					males
				<% } else { %>
					females or males
				<% } %>
					from <%= data.agePreference %></p>
				<div style="overflow:auto;">
					<form action="/users/like?username=<%=userData.username %>&liked=<%=data.username %>" method="POST">
						<div style="float:right;">
							<input type="submit" onclick="plusSlides(1)" id="like" style="background-color:green; width: 50px; height: 50px; border-radius: 50%;" value="Like">
						</div>
					</form>
					<form action="/users/dislike?username=<%=data.username %>" method="POST">
						<div style="float: left;">
							<input type="submit" onclick="plusSlides(1)" id="dislike" style="background-color:red; width: 50px; height: 50px; border-radius: 50%;" value="Disike">
						</div>
					</form>
				</div>
			</div>

			<div id="myModal" class="modal">
				<div class="container">
					<h2><%= data.name %> <%= data.surname %>, <%= data.age %> , <%= data.gender %></h2>
					<p>Lives in <%= data.city %></p>
					<p>Looking for
					<% if ((data.gender === 'female') && (data.sexualOrientation === 'straight')) { %>
					males
					<% } else if ((data.gender === 'female') && (data.sexualOrientation === 'lesbian')) { %>
						females
					<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'straight')) { %>
						females
					<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'gay')) { %>
						males
					<% } else {%>
						females or males
					<% } %>
					from <%= data.agePreference %></p>
					<p>Interested in 
						<%= data.interest1 %>, 
						<%= data.interest2 %>, 
						<%= data.interest3 %>, 
						<%= data.interest4 %></p>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
	<% i++; %>
<% } else { %>
	<div>No suggestions for you</div>
<% } %>